/*###############################
Pokemon Cards
#################################*/

.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-card {
    border: 10px solid orange;
    text-align: center;
    padding: 25px;
    margin: 25px 25px;
    width: 15%;
    height: 350px;
    font-family: "Flexo-Demi", arial, sans-serif;
}

.pokemon-card .image-container {
    height: 50%;
}

.pokemon-card img {
    height: 100%;
    width: 75%;
}

.id, .poke-name {
    text-align: left;
}

