/*###############################
Pokemon Cards
#################################*/
:root {
    --pokeball-toplid-color: #FF0000;
    --pokeball-bottomlid-color: #FFFFFF;
    --center: center;
}

@keyframes bounce{
    0% {transform: translateY(0)}
    50% {transform: translateY(-15px)}
    100% {transform: translateY(0)}
}

header {
    display: flex;
    justify-content: space-between;
    align-items: var(--center);
    background-color: var(--pokeball-toplid-color);
    color: var(--pokeball-bottomlid-color);
    padding: 0 20px;
}


header img {
    height: 50px;
    width: 50px;
}

.pokemon-app {
    display: flex;
    flex-wrap: wrap;
    justify-content: var(--center);
    font-family: "Flexo-Demi", arial, sans-serif;
}

.id, .poke-name {
    text-align: left;
}

.pokemon-card {
    text-align: var(--center);
    padding: 25px;
    margin: 25px 25px;
    width: 15%;
    height: 450px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0,0,0,.07); 
    border-radius: 7px;
}

.pokemon-card:hover {
    animation-name: bounce;
    animation-duration: 0.25s;
}

.pokemon-card .image-container {
    height: 50%;
}

.pokemon-card img {
    height: 100%;
    width: 75%;
}

.pokemon-card .pokemon-team-button {
    display: flex;
    justify-content: var(--center);
}

.pokemon-card .pokemon-team-button button, footer button {
    border-radius: 5px;
    font-weight: bold;
    background-color: var(--pokeball-toplid-color);
    color: var(--pokeball-bottomlid-color);
    outline: none;
}

.pokemon-card .pokemon-team-button button:hover {
    opacity: 0.5;
}

.pokemon-card .pokemon-team-button img {
    height: 5%;
    width: 10%;
    margin: 0 5px;
}