.pokemon-team {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.pokemon-team img {
    height: 250px;
    width: 250px;
}

.pokemon-team p {
    text-align: center;
}

.pokemon-team-page .go-back-button {
    margin: 15px 0;
}

.pokemon-team div .edit-image {
    height: 30px;
    width: 30px;
}
